<div class="container" id="quiz" data-controller="progress-bar questions" data-progress-bar-number-value = <%= @user_question_number %> data-progress-bar-total-value = <%= @question.learning.questions.count %>>
<% if @user_question_number > 0 %>
    <p id='little-info'><%= @user_question_number + 1 %> questions restantes !</p>
<% else %>
    <p id='little-info'>Dernière question !</p>
<% end %>
    <%= render 'questions/question', question: @question %>
    <%= render 'questions/choices', options: @options %>
  </div>
</div>
