<%# <div class="lone-fact">
  <h1>Did you know ?</h1>
  <p>One metric ton of electronical scrap from personal computer contains more gold than 17 tons of unrefined gold ore !</p>
</div> %>
<div id="learnings" class="container-fluid">
  <div class="container">
    <h3>Formation Suggérée</h3>
    <div class="card-learnings">

      <div class="container-fluid">
        <%= image_tag "learnings/#{@learning.title.downcase.gsub(/\s/, '_')}.jpg", alt: "#{@learning.title.downcase.gsub(/\s/, '_')}" %>
        <%# <img src="assets/learnings/plastic.jpg" alt=""> %>
      </div>

      <div class="container card-title">
        <div class="pill">
          <%= link_to "Lecture: #{@learning.title.capitalize}", learning_path(@learning) %>
        </div>
      </div>

      <div class="learning-info">
        <div class="container">
          <p><i class="fa-solid fa-circle-question"></i> <%= @learning.topic.capitalize %></p>
          <p><i class="fa-solid fa-gauge"></i> <%= @learning.difficulty.capitalize %></p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <h3>Toutes nos formations</h3>
  </div>

  <div class="scrolling-wrapper-flexbox">
    <% @learnings.each do |learning| %>
      <div class="card-learnings">

        <div class="container-fluid">
          <%= image_tag "learnings/#{learning.title.downcase.gsub(/\s/, '_')}.jpg", alt: "#{learning.title.downcase.gsub(/\s/, '_')}" %>
        </div>

        <div class="container card-title">
          <div class="pill">
            <%= link_to "Lecture: #{learning.title.capitalize}", learning_path(learning) %>
          </div>
        </div>

        <div class="learning-info">
          <div class="container">
            <p><i class="fa-solid fa-circle-question"></i> <%= learning.topic.capitalize %></p>
            <p><i class="fa-solid fa-gauge"></i> <%= learning.difficulty.capitalize %></p>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
