<div id="learnings" class="container-fluid">
  <div class="container">
    <h3>Formation Suggérée</h3>
    <%= link_to(lecture_path(Lecture.where(learning_id: @learning).first)) do %>
      <div class="card-learnings">

        <div class="container-fluid">
          <%= image_tag "learnings/#{@learning.title.downcase.gsub(/\s/, '_').gsub("é","e").gsub("è","e").gsub("à","a")}.jpg", alt: "#{@learning.title.downcase.gsub(/\s/, '_')}" %>
        </div>

        <div class="container card-title">
          <div class="pill">
            <p><%= @learning.title.capitalize %></p>
          </div>
        </div>

        <div class="learning-info">
          <div class="container">
            <p><i class="fa-solid fa-circle-question"></i> <%= @learning.topic.capitalize %></p>
            <p><i class="fa-solid fa-gauge"></i> <%= @learning.difficulty.capitalize %></p>
            <p><i class="fa-solid fa-leaf"></i> <%= @learning.score  %></p>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <div class="container">
    <h3>Toutes nos formations</h3>
  </div>

  <div class="learnings-filter" data-controller="learnings">
    <%= simple_form_for :filter, url: learnings_path, method: :get,
        html: {
          class: "learnings-filter",
          data: {
            learnings_target: "form",
            action: "change->learnings#filter"
          }
        } do |f| %>
      <%= f.input :difficulty, input_html: { "data-learnings-target": "select" }, collection: Learning.difficulties.keys  %>
    <% end %>

    <div class="scrolling-wrapper-flexbox" data-learnings-target="learnings">
      <%= render "shared/learnings_filter", { unlocked_learnings: @unlocked_learnings, locked_learnings: @locked_learnings } %>
    </div>
  </div>
</div>
