<div class="container-reward">


  <% if token.present? %>
    <h1><%= message %></h1>
    <div class="share-container">
      <%= render "rewards/share", {token: token}%>
    </div>
    <button><%= link_to "Retour aux cours", learnings_path %></button>

  <% else %>
    <div class="card-failed">
      <div class='wrong'>
        <h1><%= message %></h1>
        <h2>Tu n'as pas eu assez de bonne réponses</h2>
      </div>
      <div id='answer-found'>
        <h3># <%= @reward.learning.questions.count - @reward.achievement %></h3>
      </div>
    </div>
    <div class="container-answers">
      <% @reward.learning.answers.joins(:option).where(user: current_user, option: { good: false }).each do |answer| %>
        <div class="answer-card">
          <h5><%= answer.question.content %></h5>
          <p style="color: #40A858;"><%= answer.option.question.options.where(good: true)[0].content %></p>
          <p style="color: #f14668;"> <%= answer.option.content %></p>
        </div>
      <% end %>
    </div>
    <button><%= link_to "Retour au cours", lecture_path(@reward.learning.lectures.first) %></button>

  <% end %>

</div>
