<div class="container-reward">
  <div class="card-reward">
    <h1><%= message %></h1>
    <br>
  </div>
    <%= render "rewards/share" if token.present? %>
  <div class="card-reward">
    <p><%= token %></p>
  </div>
  <%= render "rewards/log_in" %>
   <%# Add after log_in if current_user.nil? %>
  <%= button_to "Back to Homepage", users_dashboard_path %>
</div>
