<div class="container-reward">

  <h1><%= message %></h1>

  <% if token.present? %>
    <div class="share-container">
      <%= render "rewards/share", {token: token}%>
    </div>
    <button><%= link_to "Back to Courses", learnings_path %></button>

  <% else %>
    <h5 id='answer-found'>
      Nous avons trouvé <%= @reward.learning.questions.count - @reward.achievement %> mauvaises réponses
    </h5>
    <div class="container-answers">
      <% @reward.learning.answers.joins(:option).where(user: current_user, option: { good: false }).each do |answer| %>
        <div class="answer-card">
          <h5><%= answer.question.content %></h5>
          <p style="color: #40A858;"><%= answer.option.question.options.where(good: true)[0].content %></p>
          <p style="color: #f14668;"> <%= answer.option.content %></p>
        </div>
      <% end %>
    </div>
    <button><%= link_to "Retour à la lesson", lecture_path(@reward.learning.lectures.first) %></button>

  <% end %>

</div>
