<div class="container">

  <div class="container inline-flex infos-frame">
    <div>
      <h3><%= @user.first_name %> <%= @user.last_name %></h3>
      <p class="city-name"><%= @user.city %></p>
    </div>
    <div class="avatar">
      <img src="https://avatars.githubusercontent.com/u/32631203?v=4 " alt="">
    </div>
  </div>

  <div class="dash-infos">
    <div class="card-dash" data-controller = "counter">
      <h5># Points</h5>
      <div>
        <h2 data-counter-target="counter"><%= @total_score.positive? ? @total_score : 0%> <i class="fa-solid fa-leaf"></i></h2>
      </div>
    </div>
    <div class="card-dash">
    <h5># Lessons</h5>
      <div>
        <h2>
          <%= @learnings_done.count %>
          <i class="fa-solid fa-book-open"></i>
        </h2>
      </div>
    </div>
  </div>

  <div class="fun-fact">
    <h4>Le saviez-vous !</h4>
    <p>" <%= @fun_fact %> "</p>
  </div>

  <div class="learnings-info" data-controller="dashboard-nav">
    <ul class="nav-pills">
      <div class="active-rectangle" data-dashboard-nav-target="activeRect"></div>
      <li class="badge-nav" data-action="click->dashboard-nav#badgeClick" data-dashboard-nav-target="badgeNav">
        <i class="fa-solid fa-trophy"></i>
      </li>
      <li class="learning-nav" data-action="click->dashboard-nav#learningClick" data-dashboard-nav-target="learningNav">
        <i class="fa-solid fa-book-open"></i>
      </li>
    </ul>

    <div class="content" data-dashboard-nav-target="badges">
      <% if @badges.empty? %>
        <p>Gagnez des badges !</p>
      <% else %>
        <% @badges.each do |badge| %>
          <div class="badges mini-cards">
            <%= image_tag badge, alt: "badge", class: "img-badge" %>
          </div>
        <% end %>
        <% @badges_locked.each do |badge| %>
          <div class="badges mini-cards badge-locked">
            <%= image_tag badge, alt: "badge", class: "img-badge" %>
            <i class="fa-solid fa-lock"></i>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="content" data-dashboard-nav-target = "learnings">
      <% if @learnings_todo.empty? %>
        <p class="pill">Aucune lesson</p>
      <% else %>
        <% @learnings_todo.each do |learning| %>
          <%= link_to lecture_path(learning.lectures.first), class:"mini-cards" do %>
            <p class="pill"><%= learning.title %></p>
            <%= image_tag "learnings/#{learning.title.downcase.gsub(" ", "_").gsub("é","e").gsub("è","e").gsub("à","a")}.jpg", alt: "learning", width: 100%>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
