<div data-controller = "filter-map">
  <div class="map-filters">
    <i class="fa-solid fa-circle composter-dot"></i>
    <i class="fa-solid fa-circle glass-container-dot"></i>
    <i class="fa-solid fa-circle recycling-center-dot"></i>
      <%= simple_form_for :search, url: interests_path, method: :get, data: {filter_map_target: "form"} do |f| %>
          <div class="map-filter">
            <%= f.collection_check_boxes :query, [['composteur', 'Composteur'], ['déchetterie', 'Déchetterie'], ['conteneur_à_verre', 'Conteneur à verre']], :first, :last, include_hidden: false do |b| %>
                <%= b.check_box class: "map-filter-checkbox", data: { filter_map_target: "checkbox", action: "click->filter-map#filter" }%>
                <%= b.label class: "map-filter-label", data: { filter_map_target: "label"}%>
            <% end %>
          </div>
      <% end %>
  </div>
  <%= render "map", markers: @markers %>
</div>
