
<div class="rich-card">

<%= @lecture.content %>
</div>
<br>
<div class="start">
  <div>
    <% if @learning.lectures.where('id < ?', @lecture.id).present? %>
      <%= link_to "Chapitre précédent", lecture_path(@learning.lectures.where('id < ?', @lecture.id).last), class:"start-button" %>
    <% else %>
      <%= link_to "Revenir aux leçons", learnings_path, class:"start-button" %>
    <% end %>
  </div>
  <div>
    <% if @learning.lectures.where('id > ?', @lecture.id).present? %>
      <%= link_to "Chapitre suivant", lecture_path(@learning.lectures.where('id > ?', @lecture.id).first), class:"start-button" %>
    <% else %>
      <%= link_to "Commencez le quiz", question_path(@learning.questions.first), class:"start-button" %>
    <% end %>
  </div>
</div>
<br><br><br><br><br><br>
