
<div class="rich-card">

<%= @lecture.content %>
</div>
<br>
<div class="start">
  <div class="start-button">
    <% if @learning.lectures.where('id < ?', @lecture.id).present? %>
      <%= link_to "Chapitre précédent", lecture_path(@learning.lectures.where('id < ?', @lecture.id).last) %>
    <% else %>
      <%= link_to "Revenir aux leçons", learnings_path %>
    <% end %>
  </div>
  <div class="start-button">
    <% if @learning.lectures.where('id > ?', @lecture.id).present? %>
      <%= link_to "Chapitre suivant", lecture_path(@learning.lectures.where('id > ?', @lecture.id).first) %>
    <% else %>
      <%= link_to "Commencez le quiz", question_path(@learning.questions.first) %>
    <% end %>
  </div>
</div>
