<!DOCTYPE html>
<html>
  <head>
    <title>RecyclEarn</title>
    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset=utf-8 />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <div id="<%= current_page?(root_path) ? "home" : current_page?(interests_path) ? "interests" : "page" %>">

      <% if current_page?(root_path) %>
        <%= render "shared/header_homepage" %>
      <% elsif current_page?(interests_path) %>
      <% else %>
        <%= render "shared/header" %>
      <% end %>

      <%= render "shared/flashes" %>

      <%= yield %>

      <%= render "shared/navbar" %>

    </div>

  </body>
</html>
